@import "~@blueprintjs/core/lib/scss/variables.scss";

.hips-query-panel {
    user-select: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .hips-query-config {
        flex: 1;
        overflow: auto;

        .#{$ns}-label {
            min-width: 10em;
            width: 10em;
            text-align: right;
        }

        .#{$ns}-form-content {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            gap: 5px;

            .#{$ns}-input-group {
                width: 166px;
            }

            .survey-input {
                width: 100%;
                max-width: 401px;
            }
        }

        .#{$ns}-form-group.#{$ns}-inline.pixel-size {
            .#{$ns}-form-content {
                display: block;

                .#{$ns}-popover-target {
                    margin-right: 2px;
                }
            }
        }

        .info-string {
            margin: 0px;
            .#{$ns}-label {
                display: flex;
                align-items: center;
                flex: 1 1 auto;
                min-width: 190px;
                margin-left: 5px;
                font-size: x-small;
                font-family: monospace;
                user-select: text;
            }
        }
    }

    .query-footer {
        margin-top: 10px;
    }
}

.survey-list-select {
    .#{$ns}-popover-content {
        .#{$ns}-menu {
            max-height: 300px;
            width: 401px;
            overflow: auto;
        }
    }
}
