.about-dialog {
    .image-div {
        text-align: center;
        padding-bottom: 5px;
        user-select: none;
    }

    .extend-button-title {
        margin: 7px 0px;
    }

    .external-services-content {
        margin: 14px 7px;
    }
}
