@import "~@blueprintjs/core/lib/scss/variables.scss";

.help-drawer-backdrop {
    opacity: 0 !important;
}

iframe {
    border: none;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
