@import "~@blueprintjs/core/lib/scss/variables.scss";

.spectral-profiler-toolbar {
    overflow-x: auto;
    display: flex;
    user-select: none;

    .profile-selection-panel {
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 8px;
        display: flex;
        flex-direction: row;

        .category-set {
            display: flex;
            align-items: center;
            margin-right: 12px;

            .category-checkbox {
                margin: 0 5px 0 0;
                font-weight: bold;
            }

            .dropdown-button {
                padding: 0 0 0 5px;
                width: 90px;

                .#{$ns}-button {
                    padding-left: 8px;
                    padding-right: 8px;

                    .#{$ns}-button-text {
                        margin-right: 0;
                    }
                }

                .overflow-text {
                    max-width: 60px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: block;
                }
            }
        }
    }

    .shortcut-buttons {
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: auto;
        padding-right: 8px;
    }
}

.spectral-profiler-dropdown {
    max-height: 500px;
    overflow-y: auto;
}
