/* override table width restrictions -- this is needed for the Read The Docs theme */
@media screen and (min-width: 767px) {
    .wy-nav-content {
        max-width: 100% !important;
    }

    .wy-table-responsive table td,
    .wy-table-responsive table th {
        white-space: normal !important;
    }

    .wy-table-responsive {
        overflow: visible !important;
        max-width: 100%;
    }
}
