@import "~@blueprintjs/core/lib/scss/variables.scss";

.layout-dialog {
    .#{$ns}-dialog-body {
        display: flex;
        flex-direction: column;
        height: 100%;

        td {
            padding: 5px 11px;
        }

        .#{$ns}-button {
            margin: 0px 5px;
        }

        .#{$ns}-form-group {
            margin: 6px;
            max-width: 180px;

            .#{$ns}-form-content {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .#{$ns}-html-table {
            width: 98%;
        }

        .layout-name-input {
            margin: 6px;
            user-select: none;

            &.active {
                .#{$ns}-form-group,
                .#{$ns}-input-group {
                    margin: 0px;
                }

                .#{$ns}-input {
                    padding-left: 6px;
                }
            }
        }

        .save-layout-row {
            display: inline-flex;

            .#{$ns}-button {
                margin: 5px;
            }
        }
    }
}

.layout-mapping {
    padding: 11px 11px 5px 5px !important;

    .#{$ns}-form-group {
        margin: 6px !important;
        width: 8em;

        .#{$ns}-form-content {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .#{$ns}-button {
        margin: 0px 5px;
    }

    .#{$ns}-popover-target {
        span {
            display: block;
            max-width: 2em;
        }
    }

    .#{$ns}-html-select {
        max-width: 170px;
        select {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &.active {
        font-weight: bold;
    }

    thead,
    tbody {
        display: block;
    }
}
